USE [master]
GO
/****** Object:  Database [COLLEGEDB]    Script Date: 10-09-2026 23:23:39 ******/
CREATE DATABASE [COLLEGEDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COLLEGEDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\COLLEGEDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COLLEGEDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\COLLEGEDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COLLEGEDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COLLEGEDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[remarks] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[cId] [int] IDENTITY(1,1) NOT NULL,
	[customer_code] [varchar](50) NOT NULL,
	[customer_name] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[phone_no] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee1]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee1](
	[FirstName] [varchar](50) NULL,
	[lastname] [varchar](50) NULL,
	[phone_no] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[designation] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[degree_program] [varchar](50) NULL,
	[institute] [varchar](50) NULL,
	[position] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[job_type] [varchar](50) NULL,
	[start_date] [varchar](50) NULL,
	[end_date] [varchar](50) NULL,
	[description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderno] [varchar](50) NULL,
	[ordername] [varchar](100) NULL,
	[customer_code] [varchar](50) NULL,
	[customername] [varchar](100) NULL,
	[phone_no] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[date_created] [varchar](50) NULL,
	[category] [varchar](100) NULL,
	[product_name] [varchar](100) NULL,
	[quantity] [varchar](50) NULL,
	[price] [varchar](50) NULL,
	[total] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Type1]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Type1](
	[orderno] [varchar](50) NULL,
	[customername] [varchar](50) NULL,
	[productname] [varchar](50) NULL,
	[quantity] [varchar](50) NULL,
	[price] [varchar](50) NULL,
	[discount] [varchar](50) NULL,
	[tax] [varchar](50) NULL,
	[paymenttype] [varchar](50) NULL,
	[paymenttime] [varchar](50) NULL,
	[paymentdate] [varchar](50) NULL,
	[totalamount] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [varchar](50) NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Category] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Status] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register1]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register1](
	[id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[confirm_password] [varchar](255) NOT NULL,
	[gender] [varchar](50) NULL,
	[email] [varchar](100) NOT NULL,
	[phone_no] [varchar](50) NULL,
	[dob] [varchar](50) NULL,
	[address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER1]    Script Date: 10-09-2026 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER1](
	[ID] [int] NOT NULL,
	[UNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[CPASSWORD] [varchar](50) NULL,
	[PHONENUMBER] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
